@font-face {
    font-family: outer;
    src: url(../outer.ttf);
}
.outer{
  font-family: outer;
}




a.navbar-brand.navbar-link{
}

/*div#article-content.container{
  padding-left:16%;
}*/

nav.navbar.navbar-default{
  background:#C50303;
  padding:30px 10px;
  border: none;
}

.navbar-header{
  color:white;
  font-size:50px;
  font-weight:600;
}

div.navbar-header{
  margin-left:calc(50% - 50px) !important;
}

hr{
}

hr#selector{
  /*border:1px solid grey;*/
}

div#content-row.row{
}

body{
  background-image:url('../patt.jpg');
  background-position:left;
  background-repeat: repeat;
  background-size: contain;
  /*background-size: cover;*/
  /*background: #f1f1f1;*/

}

#list-artikel {
    list-style: none;
    padding-left: 0;
}
#list-artikel li{
    /*padding-bottom: 10px;*/
    /*border-bottom: 1px solid grey;*/
}
a{
    color: black;
}
a:hover, a:focus, a:visited{
    color: #C50303;
    text-decoration: none !important;
}
.head{
    /*background-color: #C50303;*/
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #C50303;
}
.head span{
    background-color: #C50303;
    padding: 0px 20px;
}
.monts{
    font-family:Montserrat; 
}
.navbar-link:hover{
    color: white !important;

}
.footer{
    background: #f3f3f3;
    padding: 10px;
    position: absolute;
    width: 100%;
    /*margin-top: 50px;*/
}
.footer h4{
    text-align: center;
}
.footer h3{
    text-align: center;
}
.intro{
    font-weight: 600;
    text-align: justify;
}
.gap{
  margin: 20px 0;
  border-color: white;
}
.label-green{
  background:#C50303;
}
.half{
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
